/* Skin: Golden Rod */
/* general */
a {
  color: #DAA520;
}
a:hover, a:focus {
  color: #e4b849;
}

.btn-default {
  background-color: #3c3c3c;
}
.btn-default:hover, .btn-default:active, .btn-default:focus {
  background-color: #444444;
}

.btn-primary,
.btn-primary[disabled],
.btn-primary.disabled {
  background-color: #DAA520;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary.disabled:hover,
.btn-primary.disabled:active,
.btn-primary.disabled:focus {
  background-color: #e0ac2a;
  color: #fff;
}

.navbar-default {
  background-color: #DAA520;
}
.navbar-default .navbar-nav li a:hover {
  color: #fff;
  background-color: #e4b849;
}
.navbar-default .navbar-nav li.active a {
  background-color: #e4b849;
}
.navbar-default .navbar-nav li.active a:hover, .navbar-default .navbar-nav li.active a:focus {
  color: #fff;
  background-color: #e4b849;
}

.section .heading {
  color: #DAA520;
}

.glyphicon,
i {
  color: #e4b849;
}

/* section background color */
.skills {
  background-color: #444;
}

.about-me {
  background-color: #FCFFE4;
}

.resume {
  background: #FCFFE4;
}

.contacts {
  background: #FCFFE4;
}

/* skills */
.skill-chart .chart-title {
  color: #fff;
}

.pie-chart .percent {
  color: #fff;
}

/* timeline */
.timeline {
  background-image: url('../../img/vertical-line-goldenrod.png?1425368677');
}
.timeline .year {
  background: #DAA520;
  color: #FCFFE4;
}
.timeline .month {
  color: #a9a9a9;
}
.timeline .event {
  background: #FCFFE4;
  border-color: #BABDA1;
}
.timeline .event:hover {
  background: #FCFFE4;
}
.timeline .event:hover:after {
  background: #3c3c3c;
}
.timeline .event:after {
  background: #DAA520;
  border-color: #FCFFE4;
}
.timeline .heading {
  color: #3c3c3c;
}

/* projects */
@media screen and (min-width: 992px) {
  .project-effect-shrink figure .project-item-info a {
    color: #a2a2a2;
  }
}
/* contacts */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  background-color: #E9ECD3;
  border: 1px solid #CFD2BC;
  color: #787B64;
}
.contact-form input[type="text"]::-webkit-input-placeholder,
.contact-form input[type="email"]::-webkit-input-placeholder,
.contact-form textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #C2C7A5;
}
.contact-form input[type="text"]:-moz-placeholder,
.contact-form input[type="email"]:-moz-placeholder,
.contact-form textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #C2C7A5;
}
.contact-form input[type="text"]::-moz-placeholder,
.contact-form input[type="email"]::-moz-placeholder,
.contact-form textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #C2C7A5;
}
.contact-form input[type="text"]:-ms-input-placeholder,
.contact-form input[type="email"]:-ms-input-placeholder,
.contact-form textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #C2C7A5;
}
.contact-form input[type="text"]:focus,
.contact-form input[type="email"]:focus,
.contact-form textarea:focus {
  border: 1px solid #a3a97f !important;
}

/* footer */
.footer {
  background-color: #444;
  color: #fff;
}
