<div class="page-header">
  <h1>Edit Contact Info</h1>
</div>
<%= bootstrap_form_for @contact_info, :url => { :action => "update" } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
<% end %>