<header class="jumbotron header" id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-6 left">
        <div class="avatar">
          <img src="assets/img/profile-picture.png" class="img-responsive" alt="Profile Picture" />
        </div>
      </div>
      <div class="col-md-6 right">
        <h1 class="hide"><%= Settings.name %></h1>
        <h2 class="heading"><%= @hero.try(:title) %></h2>
        <p><%= auto_link(simple_format(@hero.try(:body))) %></p>
        <a href="#about-me" class="btn btn-default btn-lg">READ MORE</a><a href="#contacts" class="btn btn-primary btn-lg">CONTACT ME</a>
      </div>
    </div>
  </div>
</header>