<section class="section resume" id="resume">
  <div class="container">
    <h2 class="heading">RESUME</h2>
    <ul class="timeline">
      <% @resumes.each do |resume_year| %>
        <li class="year"><%= resume_year.year %></li>
        <% Resume.where("year=?",resume_year.year).each do |resume| %>
          <li class="event">
            <h3 class="heading"><%= resume.title %></h3>
            <span class="month"><i class="icon icon-calendar"></i><%= resume.period %></span>
            <p><%= simple_format resume.body %></p>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>